.client {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* margin: 15px; */
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.btn {
    margin-top: 2px;
    margin-bottom: 2px;
}

.jobCard__title {
    font-weight: 500;
}

.jobCard__sub {
    color: #6d6d6d;
}

.jobCard__badge {
    display: inline-block;
    border-radius: 100px;
    padding: 2px 10px;
    background-color: var(--accent-color);
    color: white;
    font-size: 85%;
}

.titleBar .barIco {
    background-color: transparent;
    color: white;
    font-size: 150%;
    padding: 8px;
}

#shareLink {
    width: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: light;
}